<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0</real>
		<key>id</key>
		<string>licorice</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Licorice</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Licorice</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.129844</real>
		<key>green</key>
		<real>0.129846</real>
		<key>id</key>
		<string>lead</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Lead</string>
		</dict>
		<key>red</key>
		<real>0.129842</real>
		<key>sourceName</key>
		<string>Lead</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.260521</real>
		<key>green</key>
		<real>0.260524</real>
		<key>id</key>
		<string>tungsten</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Tungsten</string>
		</dict>
		<key>red</key>
		<real>0.260517</real>
		<key>sourceName</key>
		<string>Tungsten</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.37056</real>
		<key>green</key>
		<real>0.370565</real>
		<key>id</key>
		<string>iron</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Iron</string>
		</dict>
		<key>red</key>
		<real>0.370555</real>
		<key>sourceName</key>
		<string>Iron</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.47564</real>
		<key>green</key>
		<real>0.475647</real>
		<key>id</key>
		<string>steel</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Steel</string>
		</dict>
		<key>red</key>
		<real>0.475635</real>
		<key>sourceName</key>
		<string>Steel</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.570465</real>
		<key>green</key>
		<real>0.570472</real>
		<key>id</key>
		<string>tin</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Tin</string>
		</dict>
		<key>red</key>
		<real>0.570459</real>
		<key>sourceName</key>
		<string>Tin</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.574155</real>
		<key>green</key>
		<real>0.574162</real>
		<key>id</key>
		<string>nickel</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Nickel</string>
		</dict>
		<key>red</key>
		<real>0.574149</real>
		<key>sourceName</key>
		<string>Nickel</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.664232</real>
		<key>green</key>
		<real>0.66424</real>
		<key>id</key>
		<string>aluminum</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Aluminum</string>
		</dict>
		<key>red</key>
		<real>0.664224</real>
		<key>sourceName</key>
		<string>Aluminum</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.754077</real>
		<key>green</key>
		<real>0.754087</real>
		<key>id</key>
		<string>magnesium</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Magnesium</string>
		</dict>
		<key>red</key>
		<real>0.754069</real>
		<key>sourceName</key>
		<string>Magnesium</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.837427</real>
		<key>green</key>
		<real>0.837438</real>
		<key>id</key>
		<string>silver</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Silver</string>
		</dict>
		<key>red</key>
		<real>0.837418</real>
		<key>sourceName</key>
		<string>Silver</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.921441</real>
		<key>green</key>
		<real>0.921453</real>
		<key>id</key>
		<string>mercury</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Mercury</string>
		</dict>
		<key>red</key>
		<real>0.921431</real>
		<key>sourceName</key>
		<string>Mercury</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>id</key>
		<string>snow</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Snow</string>
		</dict>
		<key>red</key>
		<real>0.999996</real>
		<key>sourceName</key>
		<string>Snow</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.066734</real>
		<key>id</key>
		<string>cayenne</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Cayenne</string>
		</dict>
		<key>red</key>
		<real>0.580723</real>
		<key>sourceName</key>
		<string>Cayenne</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.32152</real>
		<key>id</key>
		<string>mocha</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Mocha</string>
		</dict>
		<key>red</key>
		<real>0.578747</real>
		<key>sourceName</key>
		<string>Mocha</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.565536</real>
		<key>id</key>
		<string>asparagus</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Asparagus</string>
		</dict>
		<key>red</key>
		<real>0.573807</real>
		<key>sourceName</key>
		<string>Asparagus</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.561823</real>
		<key>id</key>
		<string>fern</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Fern</string>
		</dict>
		<key>red</key>
		<real>0.308401</real>
		<key>sourceName</key>
		<string>Fern</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.560318</real>
		<key>id</key>
		<string>clover</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Clover</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Clover</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.318817</real>
		<key>green</key>
		<real>0.562842</real>
		<key>id</key>
		<string>moss</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Moss</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Moss</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.574617</real>
		<key>green</key>
		<real>0.569046</real>
		<key>id</key>
		<string>teal</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Teal</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Teal</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.574885</real>
		<key>green</key>
		<real>0.328521</real>
		<key>id</key>
		<string>ocean</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Ocean</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Ocean</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.574993</real>
		<key>green</key>
		<real>0.096086</real>
		<key>id</key>
		<string>midnight</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Midnight</string>
		</dict>
		<key>red</key>
		<real>0.00486</real>
		<key>sourceName</key>
		<string>Midnight</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.57486</real>
		<key>green</key>
		<real>0.106358</real>
		<key>id</key>
		<string>eggplant</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Eggplant</string>
		</dict>
		<key>red</key>
		<real>0.323698</real>
		<key>sourceName</key>
		<string>Eggplant</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.574531</real>
		<key>green</key>
		<real>0.128552</real>
		<key>id</key>
		<string>plum</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Plum</string>
		</dict>
		<key>red</key>
		<real>0.581058</real>
		<key>sourceName</key>
		<string>Plum</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.318639</real>
		<key>green</key>
		<real>0.088428</real>
		<key>id</key>
		<string>maroon</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Maroon</string>
		</dict>
		<key>red</key>
		<real>0.580819</real>
		<key>sourceName</key>
		<string>Maroon</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.149131</real>
		<key>id</key>
		<string>maraschino</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Maraschino</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Maraschino</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.578105</real>
		<key>id</key>
		<string>tangerine</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Tangerine</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Tangerine</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.985554</real>
		<key>id</key>
		<string>lemon</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Lemon</string>
		</dict>
		<key>red</key>
		<real>0.999424</real>
		<key>sourceName</key>
		<string>Lemon</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.979346</real>
		<key>id</key>
		<string>lime</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Lime</string>
		</dict>
		<key>red</key>
		<real>0.556343</real>
		<key>sourceName</key>
		<string>Lime</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>green</key>
		<real>0.976805</real>
		<key>id</key>
		<string>spring</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Spring</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Spring</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.573691</real>
		<key>green</key>
		<real>0.981067</real>
		<key>id</key>
		<string>sea-foam</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Sea Foam</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Sea Foam</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.991439</real>
		<key>id</key>
		<string>turquoise</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Turquoise</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Turquoise</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.589801</real>
		<key>id</key>
		<string>aqua</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Aqua</string>
		</dict>
		<key>red</key>
		<real>0</real>
		<key>sourceName</key>
		<string>Aqua</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.198351</real>
		<key>id</key>
		<string>blueberry</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Blueberry</string>
		</dict>
		<key>red</key>
		<real>0.016804</real>
		<key>sourceName</key>
		<string>Blueberry</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.215692</real>
		<key>id</key>
		<string>grape</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Grape</string>
		</dict>
		<key>red</key>
		<real>0.581883</real>
		<key>sourceName</key>
		<string>Grape</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.252792</real>
		<key>id</key>
		<string>magenta</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Magenta</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Magenta</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.573395</real>
		<key>green</key>
		<real>0.185739</real>
		<key>id</key>
		<string>strawberry</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Strawberry</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Strawberry</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.473998</real>
		<key>green</key>
		<real>0.493272</real>
		<key>id</key>
		<string>salmon</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Salmon</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Salmon</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.473206</real>
		<key>green</key>
		<real>0.832346</real>
		<key>id</key>
		<string>cantaloupe</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Cantaloupe</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Cantaloupe</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.472655</real>
		<key>green</key>
		<real>0.988356</real>
		<key>id</key>
		<string>banana</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Banana</string>
		</dict>
		<key>red</key>
		<real>0.999534</real>
		<key>sourceName</key>
		<string>Banana</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.473331</real>
		<key>green</key>
		<real>0.985484</real>
		<key>id</key>
		<string>honeydew</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Honeydew</string>
		</dict>
		<key>red</key>
		<real>0.83217</real>
		<key>sourceName</key>
		<string>Honeydew</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.474303</real>
		<key>green</key>
		<real>0.981323</real>
		<key>id</key>
		<string>flora</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Flora</string>
		</dict>
		<key>red</key>
		<real>0.450094</real>
		<key>sourceName</key>
		<string>Flora</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.83763</real>
		<key>green</key>
		<real>0.988297</real>
		<key>id</key>
		<string>spindrift</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Spindrift</string>
		</dict>
		<key>red</key>
		<real>0.450858</real>
		<key>sourceName</key>
		<string>Spindrift</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.993096</real>
		<key>id</key>
		<string>ice</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Ice</string>
		</dict>
		<key>red</key>
		<real>0.451387</real>
		<key>sourceName</key>
		<string>Ice</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.838284</real>
		<key>id</key>
		<string>sky</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Sky</string>
		</dict>
		<key>red</key>
		<real>0.462023</real>
		<key>sourceName</key>
		<string>Sky</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.504808</real>
		<key>id</key>
		<string>orchid</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Orchid</string>
		</dict>
		<key>red</key>
		<real>0.476842</real>
		<key>sourceName</key>
		<string>Orchid</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.514571</real>
		<key>id</key>
		<string>lavender</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Lavender</string>
		</dict>
		<key>red</key>
		<real>0.844656</real>
		<key>sourceName</key>
		<string>Lavender</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>0.521205</real>
		<key>id</key>
		<string>bubblegum</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Bubblegum</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Bubblegum</string>
	</dict>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.847314</real>
		<key>green</key>
		<real>0.540976</real>
		<key>id</key>
		<string>carnation</string>
		<key>localizedNames</key>
		<dict>
			<key>en</key>
			<string>Carnation</string>
		</dict>
		<key>red</key>
		<real>1</real>
		<key>sourceName</key>
		<string>Carnation</string>
	</dict>
</array>
</plist>
